@import '../../styles.scss';
.albums-container {
  display: flex;
  .album-list-container {
    margin-right: 5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    list-style-type: none;

    .selected {
      background-color: $secondary-color;
      font-weight: bold;
    }

    li {
      border: 2px solid $secondary-color;
      background-color: $primary-color;
      color: $text-color;
      border-radius: $border-radius;
      width: 50%;
      padding: 0 10px;
      &:hover {
        cursor: pointer;
        @extend .selected;
      }
    }
  }
}

@media (max-width: 850px) {
  .albums-container {
    flex-direction: column-reverse;
    .album-list-container {
      width: 90%;
      align-self: center;
      li {
        width: 90%;
      }
    }
  }
}
