@import '../../styles.scss';

.discography-container {
  //display: flex;
}

@media (max-width: 850px) {
  .discography-container {
    flex-direction: column-reverse;
  }
}

.reload-btn {
  border-radius: $border-radius;
  border: 2px solid $secondary-color;
  color: $secondary-color;
  background-color: $primary-color;
  padding: 15px;
  font-weight: bold;
  margin-left: calc(50% - 90px);
  &:hover {
    border: 2px solid $primary-color;
    background-color: $secondary-color;
    color: $primary-color;
    cursor: pointer;
  }
}
