<div
  *ngIf="!albumService.isLoading && (albums$ | async)?.length"
  class="discography-container"
>
  <app-album-list [albumList]="albums$ | async"></app-album-list>
</div>
<app-error
  *ngIf="albumService.statusError && !albumService.isLoading"
  [errorType]="albumService.statusError"
></app-error>
<app-button
  *ngIf="!albumService.isLoading && !albumService.statusError"
  (click)="loadAlbum(urlFalse)"
  [text]="textTrue"
></app-button>
<app-button
  *ngIf="!albumService.isLoading && albumService.statusError"
  (click)="loadAlbum(urlTrue)"
  [text]="textFalse"
></app-button>

<app-loader *ngIf="albumService.isLoading"></app-loader>
