/* You can add global styles to this file, and also import other style files */
$primary-color: black;
$secondary-color: red;
$text-color: white;
$border-radius: 10px;

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 46%,
    rgba(0, 0, 0, 1) 100%
  );
  font-family: 'Architects Daughter', cursive;
}
